.btn--edit {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    padding: 4px;
}
 
.btn--edit:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}
 
.form-popup {
    display: none;
    transform: translate(0%, -50%);
    margin: auto;
    border: 3px solid #f1f1f1;
}
 
.form-container {
    max-width: 240px;
    max-height: 500px;
    padding: 15px;
    background-color: white;
    overflow: auto;
}
 
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
 
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
 
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}
 
.form-container .cancel {
    background-color: red;
}
 
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
 
.add_button {
    margin: 24px;
    align-self: flex-end;
}