<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Dealership</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>

        <nav class="nav">
            <a class="logo" href="{% url 'home' %}" title="Home"><img src="{% static 'images/logo.svg' %}" alt="Home"></a>
            <p class="nav__item"><a href="{% url 'user_authentication:login' %}">Login</a></p>
        </nav>
    </header>

    <main>

        <section class="block block--dark block--skewed-left">

            <div class="grid grid--1x2">
                <div class="hero__content">
                    <h1>Find your Dream Car</h1>
                    <p class="hero__tagline">Among a great selection of used cars</p>
                    <a href="{% url 'car_listings' %}" class="btn btn--primary btn--block">View cars</a>
                </div>
                <div>
                    <img class="hero__image" src="images/banner.png" alt="">
                </div>
            </div>

        </section>


        <section class="searchbar">
            <form class="search" action="">
                <input type="text" placeholder="Search for a car brand or model" name="search">
                <button type="submit" title="Register"><i class="btn"></i>Register</button>
            </form>
        </section>

        <section>
            <!-- featured cars -->
            {% block content %}
            {% endblock content %}
        </section>
    </main>

    <footer class="footer">
        <div class="footer__section">
            <p>&copy; 2024 Virtual Car Dealership</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>