<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav class="nav">
            <a class="logo" href="/"><img src="images/logo.svg" alt=""></a>
            <p class="nav__item"><a href="#">Login</a></p>
        </nav>
    </header>

    <section class="page_title">
        <h2>Available cars</h2>
    </section>

    <main>
        <div class="container">
            <div class="card">
                <img src="images/car_image.png" alt="">
                <div class="card-body">
                    <div class="card-text">
                        <h3>Tesla Model 3</h3>
                        <table>
                            <tr>
                                <td>Model Year</td>
                                <td>2022</td>
                            </tr>
                            <tr>
                                <td>Mileage</td>
                                <td>35890</td>
                            </tr>
                            <tr class="price">
                                <td>Price</td>
                                <td>360 000 Kr</td>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn--secondary">More info</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__section">&copy 2024 Car Dealership</div>
    </footer>

</body>

</html>