{% extends "cars/base.html" %}
{% block body %}
{% load static %}

<h1>Admin Dashboard</h1>
<div class="container">
    {% if user.is_superuser %}
    <h1 style="color: rgb(229, 31, 35);">Welcome {{ user.username }} !</h1>
    <form action="{% url 'cars:home' %}" method="post">
        {% csrf_token %}
        <button type="submit" style="width: 10%; padding: 10px; border: none; border-radius: 4px; cursor: pointer;
        font-size: 16px; background-color: #007bff; color: white; margin-top: 20px;">LOGOUT</button>
    </form>
    {% else %}
    <a href="{% url 'cars:home' %}" class="btn btn-lg btn-success">Home</a>
    {% endif %}
</div>
<p>Total Registered Dealers: {{ num_users }}</p>
<h1>List of Dealers:</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Is Active</th>

        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_active }}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}