{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Car Dealership</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <nav class="nav">
            <a class="logo" href="/" title="Home"><img src="{% static 'images/logo.svg' %}" alt="Home"></a>
            
            <p class="nav__item"><a href="{% url 'cars:adminlogin' %}">Admin</a></p>
            {% if user.is_authenticated %}
            <p class="nav__item" style="font-size: 20px; font-weight: bold; color: rgb(15, 15, 201);">Welcome, {{ user.username }}!</p>
            <form class="nav__item" action="{% url 'cars:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-success">Logout</button>
            </form>
            {% else %}
            <p class="nav__item"><a href="{% url 'cars:login' %}" class="btn btn-lg btn-success">Login</a></p>
            {% endif %}

        </nav>
    </header>


    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer__section">
            <p>&copy; 2024 Virtual Car Dealership</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>