{% extends "cars/base.html" %}
{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">



<section class="page_title">
    <h2>Dealer Dashboard</h2>
</section>

<section class="add_button">
    <div><button class="btn--edit" onclick="openEditCar()">Add car +</button></div>
</section>

<section class="Delete_button">
    <div><button class="btn--edit" onclick="openEditCar()">Delete car</button></div>
</section>



<section class=" cars_table">
    <div class="car_row">
        <div class="car__item"><img class="grid_row_img" src="images/car_image.png" alt=""></div>
        <div class="car__item">Tesla Model 3</div>
        <div class="car__item btn--edit" onclick="openEditCar()">Edit</div>
    </div>
    <div class="car_row">
        <div class="car__item"><img class="grid_row_img" src="images/car_image.png" alt=""></div>
        <div class="car__item">Tesla Model 3</div>
        <div class="car__item btn--edit" onclick="openEditCar()">Edit</div>
    </div>
</section>

<div class="form-popup" id="carEditForm">
    <form action="{% url 'cars:save_car' %}" method="POST" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        <h3>Login</h3>

        <label for="make">Car Make</label>
        <input type="text" id='make' placeholder="Enter car make" name="make" required>

        <label for="model">Car Model</label>
        <input type="text" id='model 'placeholder="Enter car model" name="model" required>

        <label for="price">Price</label>
        <input type="text" id="price" placeholder="Enter car price in SEK" name="price" required>

        <label for="year">Model Year</label>
        <input type="text" id="year" placeholder="Enter the production year" name="year" required>

        <label for="mileage">Mileage</label>
        <input type="text" id="mileage" placeholder="Enter the car's mileage in kilometers" name="mileage" required>

        <label for="fuel">Fuel</label>
        <input type="text" id="fuel" placeholder="Enter the car's fuel type" name="fuel" required>

        <label for="engine">Engine Power</label>
        <input type="text" id="engine" placeholder="Enter the car's engine power (HP)" name="engine" required>

        <label for="color">Colour</label>
        <input type="text" id="color" placeholder="Enter the car's colour" name="color" required>

        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required>

        <br><br>

        <label for="desription">Description</label>
        <textarea name="description" cols="23" rows="5" id="description" placeholder="Enter the car's detailed description"
            required></textarea>

        <button type="submit" class="btn--secondary">Save</button>
        <button type="button" class="btn--outline" onclick="closeForm()">Delete</button>
    </form>
</div>

<script>
    function openEditCar() {
        document.getElementById("carEditForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("carEditForm").style.display = "none";
    }
</script>
{% endblock %}